body {padding:30px}
section h1 {
  font-size: 50px;
}
section h2 {
  font-size: 40px;
}
section h3 {
  font-size: 35px;
}
section h4 {
  font-size: 35px;
}

.header-images {
  display: flex;
  gap: 10px;
}

.header-images img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.secondimagegroup {
    display: flex;
    gap: 20px;
  }

  .secondimagegroup img {
    width: 800px;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
  }
